.editor-buttons {
  .container;
  padding-bottom: 41px;

  &__upload,
  &__reset {
    .mixin-set-family-font(18px, 48px, 700);
    width: 100%;
    border-radius: 30px;
    background-color: transparent;
    text-transform: none;
    margin: 6px 0;
  }

  &__upload {
    color: @bright-purple-red;
    border: 3px solid @bright-purple-red;
  }

  &__reset {
    color: fade(@green-blue, 10%);
    border: 3px solid fade(@green-blue, 10%);
  }
}
