.editor-controls {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  padding: 42px 20px 40px 20px;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
