.gallery-list {
  .list;
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(min-content, 280px);
}

.gallery-list__image-middle {
  display: none;
}

.gallery-list__image-big {
  display: none;
}

.gallery-list__item {
  background-color: @smoky-white95;
  .mixin-reset-margin();
}

.gallery-list__content {
  display: flex;
  flex-direction: column;
  padding: 25px 0 26px 17px;
  background-color: @smoky-white95;
}

.gallery-list__author {
  .text_reset;
  text-align: left;
  .mixin-set-family-font(14px, 24px, 700);
}

.gallery-list__title-time {
  .text_reset;
  .mixin-set-family-font(14px, 24px, 400);
}

.gallery-list__text {
  .text_reset;
  text-align: left;
  padding-bottom: 25px;
  .mixin-set-family-font(14px, 24px, 400);
}

.gallery-list__like {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.gallery-list__like-button svg {
  .button;
  .text_reset;
  fill: @bright-purple-red;
}

.gallery-list__count {
  .text_reset;
  .mixin-set-family-font(12px, 24px, 400);
  padding-left: 17px;
  text-transform: uppercase;
  color: @bright-purple-red;
}


@media (min-width: @tablet-width) {
  .gallery-list {
    grid-template-columns: minmax(min-content, 300px) minmax(min-content, 300px);
  }

  .gallery-list__image-small {
    display: none;
  }

  .gallery-list__image-middle {
    display: block;
  }
}


@media (min-width: @desktop-width) {
  .gallery-list {
    grid-template-columns: minmax(min-content, 300px) minmax(min-content, 300px) minmax(min-content, 300px);
  }

  .gallery-list__image-middle {
    display: none;
  }

  .gallery-list__image-big {
    display: block;
  }
}
