.upload {
  background-color: @smoky-white95;
}

.upload__description-block {
  margin: 0 auto;
  background-color: @white;
  position: relative;
  .mixin-set-family-font(14px, 30px, 400);
  color: @sapphire-blue;
  .mixin-flex-column();
  text-align: center;
  padding-top: 29px;
  padding-bottom: 28px;
}

.upload__uploader {
  padding-top: 7px;
}

.upload__wrapper {
  position: relative;
}

.upload__photo-block {
  .mixin-flex-column();
  padding-top: 13px;
}

.upload__photo {
  display: block;
}

.upload__form {
  .mixin-flex-column(normal);
  padding: 39px 0 33px 0;
}

.upload__list {
  .list;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px 43px 20px 37px;
}

.upload__bar {
  position: relative;
  background-color: @sapphire-blue;
  height: 2px;
  min-width: 240px;
  margin: 20px auto;
  display: none;

  &--action {
    display: block;
  }

  &--action::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    left: 50%;
    bottom: -34px;
    transform: translateX(-50%);
    background-color: fade(@sapphire-blue, 10%);
  }
}

.upload__toggle {
  position: absolute;
  top: -6px;
  left: 193px;
  display: block;
  .mixin-reset-margin();
  width: 14px;
  height: 14px;
  background-color: @white;
  border: 2px solid @bright-purple-red;
  border-radius: 50%;

  &:active {
    background-color: @bright-purple-red;
  }
}

.upload__icon {
  width: 44px;
  height: 44px;
  background-color: inherit;
  .mixin-flex-column(center, center);
  .mixin-svg-color(fade(@sapphire-blue, 30%));

  &--active {
    .mixin-svg-color(@bright-purple-red);
  }

  &:hover:not(&--active) {
    .mixin-svg-color(fade(@sapphire-blue, 50%));
  }
}

.upload__image {
  &--small {
    display: none;
  }
}

.upload__buttons {
  padding-top: 46px;
}

.upload__button-load,
.upload__button-cancel {
  .mixin-set-family-font(19px, 48px, 700);
  width: 100%;
  border-radius: 30px;
  background-color: transparent;
  text-transform: none;
  margin: 6px 0;
}

.upload__button-load {
  color: @bright-purple-red;
  border: 3px solid @bright-purple-red;

  &:hover {
    background-color: @bright-purple-red;
    color: @white;
  }

  &:focus {
    //
  }

  &:active {
    color: fade(@white, 30%);
  }
}

.upload__button-cancel {
  color: fade(@sapphire-blue, 10%);
  border: 3px solid fade(@sapphire-blue, 10%);

  &:hover {
    color: fade(@sapphire-blue, 30%);
    border: 3px solid fade(@sapphire-blue, 30%);
  }

  &:focus {
    //
  }

  &:active {
    border: 3px solid @sapphire-blue;
    background-color: @sapphire-blue;
    opacity: 30%;
    color: fade(@white, 30%);
  }
}

@media (min-width: @tablet-width) {
  .upload__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 16px;
  }

  .upload__uploader {
    padding-top: 20px;
  }

  .upload__photo-block {
    padding-top: 16px;
    padding-right: 11px;
  }

  .upload__description-block {
    .mixin-set-family-font(18px, 30px, 400);
    padding-top: 45px;
    padding-bottom: 53px;
  }

  .upload__form {
    .mixin-flex-column(normal);
    margin-top: 0;
    padding-top: 0;
    margin-left: auto;
    width: 275px;
    justify-content: space-between;
  }

  .upload__list {
    .mixin-flex-column(normal);
    justify-content: space-around;
    .list;
    margin-top: 1px;
    margin-left: 3px;
  }

  .upload__item {
    .mixin-reset-margin();
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: normal;
    border-bottom: 2px solid fade(@sapphire-blue, 10%);
    height: 72px;
  }

  .upload__image {
    &--small {
      display: block;
    }

    &--big {
      display: none;
    }
  }

  .upload__icon {
    width: 22px;
    height: 22px;
    .mixin-svg-color(@bright-purple-red);
    pointer-events: none;

    &--active {
      .mixin-svg-color(@bright-purple-red);
    }

    &:hover:not(&--active) {
      .mixin-svg-color(@bright-purple-red);
    }
  }

  .upload__bar {
    display: block;
    min-width: 202px;
    margin-left: 29px;

    &--action {
      display: none;
    }
  }

  .upload__toggle {
    &--crop {
      left: 160px;
    }

    &--brightness {
      left: 25px;
    }

    &--fill {
      left: 96px;
    }
  }

  .upload__buttons {
    padding-top: 59px;
    width: 261px;
    padding-left: 2px;
  }

  .upload__button-load {
    margin: 8px 0 18px 0;
  }

  .upload__button-load,
  .upload__button-cancel {
    line-height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .upload {
    background-color: @white;
    margin-bottom: 64px;
  }

  .upload__uploader {
    padding-top: 20px;
  }

  .upload__wrapper {
    background-color: @smoky-white95;
    padding-bottom: 6px;
  }

  .upload__description-block {
    width: @desktop-width;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .upload__icon {
    width: 44px;
    height: 44px;
  }

  .upload__photo-block {
    padding-top: 37px;
  }

  .upload__form {
    margin: 0;
    width: 100%;
  }

  .upload__list {
    margin-top: 22px;
    margin-left: 1px;
  }

  .upload__item {
    min-width: 410px;

    &:last-child {
      border-bottom: none;
    }
  }

  .upload__image {
    &--small {
      display: none;
    }

    &--big {
      display: block;
    }
  }

  .upload__bar {
    min-width: 288px;
    margin-left: 47px;
  }

  .upload__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 44px;
    padding-top: 137px;
    width: 409px;
    padding-left: 0;
  }

  .upload__toggle {
    &--crop {
      left: 234px;
    }

    &--brightness {
      left: 35px;
    }

    &--fill {
      left: 137px;
    }
  }

  .upload__button-load,
  .upload__button-cancel {
    margin: 8px 0 18px 0;
  }
}
