.uploader__wrapper {
  .container;
  padding-top: 50px;
  padding-bottom: 50px;
}

.uploader__title {
  .text_reset;
  position: relative;
  background-color: @white;
  .mixin-set-family-font(14px, 30px, 400);
  color: @green-blue;
  text-align: center;
}
