.advantages-content {
  .container;

  &__list {
    .list;
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    .text_reset;
    .mixin-set-family-font(18px, 24px, 700);
    color: @black;
  }

  &__item-text {
    .text_reset;
    .mixin-set-family-font(14px, 24px, 400);
    color: @green-blue;
  }
}
