.advantages-effect {
  .container;
  width: @mobile-width;
}

.advantages-effect__title {
  .text_reset;
  .mixin-set-family-font(30px, 36px, 700);
  color: @green-blue;
}

.advantages-effect__text {
  .text_reset;
  .mixin-set-family-font(14px, 24px, 400);
}

.advantages-effect__link {
  .mixin-set-family-font(14px, 24px, 400);
  color: @bright-purple-red;
}

@media (min-width: @tablet-width) {
  .advantages-effect {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .advantages-effect {
    width: @desktop-width;
  }
}
