.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__white-wrapper {
  background-color: @white;
}

.advantages__grey-wrapper {
  background-color: @smoky-white95;
}

.advantages__gradient-wrapper {
  background: linear-gradient(-4.7deg, transparent 83%, @white 83%), linear-gradient(to bottom, @smoky-white95, @smoky-white95);
}

.advantages__head {
  .text_reset;
  .mixin-set-family-font(24px, 28.8px, 300);
  color: @green-blue;
  padding-top: 46px;
  padding-bottom: 27px;
  margin: 0 auto;
}
