.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  background: @white;
  padding-top: 40px;
  padding-bottom: 15px;
}

.contact__title {
  .text_reset;
  padding-top: 47px;
  .mixin-set-family-font(24px, 29px, 300);
  color: @green-blue;
  margin: 0;
  text-align: center;
}

.contact__list {
  .list;
}

.contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  padding-top: 25px;
}

.contact__name {
  .text_reset;
  .mixin-set-family-font(18px, 25px, 700);
  color: @green-blue;
}

.contact__link {
  .link;
  .text_reset;
  color: @bright-purple-red;
  .mixin-set-family-font(24px, 33px, 300);
}

.contact__map {
  .mixin-flex-column();
  width: @mobile-width;
  height: 200px;
  clip-path: polygon(50% 16.4%, 100% 0, 100% 100%, 0 100%, 0 0);


  &--no-js {
    background-image: url("../img/page/index/map-small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .contact__title {
    .mixin-set-family-font(40px, 55px, 300);
  }

  .contact__list {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr 1fr;
  }

  .contact__item:last-child {
    grid-column: 1 / 3;
  }

  .contact__map {
    height: 374px;
    width: @tablet-width;

    &--no-js {
      background-image: url("../img/page/index/map-middle.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .contact__title {
    .mixin-set-family-font(50px, 68px, 300);
  }

  .contact__list {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact__item:last-child {
    grid-column: 3 / 4;
  }

  .contact__map {
    height: 502px;
    width: @desktop-width;

    &--no-js {
      background-image: url("../img/page/index/map-big.jpg");
    }
  }
}
