.feedback {
  display: flex;
  flex-direction: row;
  background-color: @white;
  margin: 0;
}

.feedback__list {
  .list;
}

.feedback__author {
  .text_reset;
  .mixin-set-family-font(18px, 30px, 700);
  color: @black;
  padding-top: 41px;
  padding-bottom: 13px;
}

.feedback__about {
  display: none;
  .text_reset;
}

.feedback__text {
  .text_reset;
  .mixin-set-family-font(14px, 30px, 400);
  color: @green-blue;
  padding-bottom: 21px;
}


@media (min-width: @tablet-width) {
  .feedback {
    margin-top: 92px;
  }

  .feedback__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .feedback__text {
    .mixin-set-family-font(18px, 30px, 400);
  }

  .feedback__author {
    .mixin-set-family-font(20px, 30px, 700);
    padding-top: 15px;
    padding-bottom: 0;
  }

  .feedback__about {
    display: block;
    .mixin-set-family-font(14px, 30px, 400);
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    position: relative;
    padding-top: 185px;
    padding-bottom: 34px;
    background-image: url(../img/icon/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: center 73px;
    background-size: 79px 63px;
    margin: 0;
  }

  .feedback__text {
    width: 695px;
    margin: 0 auto;
  }

  .feedback__author {
    .mixin-set-family-font(24px, 30px, 700);
  }

  .feedback__about {
    .mixin-set-family-font(18px, 30px, 400);
  }
}
