.price-table {
  border-collapse: collapse;
  position: relative;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;

  &__body {
    display: grid;
    grid-template-rows: minmax(min-content, 59px) minmax(min-content, 59px) minmax(min-content, 59px) minmax(min-content, 59px);
    gap: 2px;
  }

  &__row {
    display: grid;
    grid-template-columns: minmax(276px, 1fr) minmax(276px, 1fr) minmax(276px, 1fr);
    gap: 2px;
  }

  &__rate {
    background: @sapphire-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: @white;
  }
  // ROWS
  &__product {
    background: @white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--hidden {
      display: none;
    }
  }

  &__item {
    background: @white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 17px;
    text-align: left;
  }
  // SPANS
  &__tariff {
    display: block;
    .mixin-set-family-font(16px, 30px, 700);
    text-transform: uppercase;
  }

  &__price {
    display: block;
    .mixin-set-family-font(18px, 30px, 300);
  }

  &__service {
    .mixin-set-family-font(14px, 30px, 400);
    color: @sapphire-blue;
    padding: 15px 15px 15px 17px;

    &--inner {
      text-transform: uppercase;
    }
  }
}
