.price {
  background: linear-gradient(-4.7deg, transparent 83%, @white 83%), linear-gradient(to bottom, @smoky-white95, @smoky-white95);
  padding: 160px 0 0 0;
}

.price__wrapper {
  .container;
  overflow-x: hidden;
}
