.download-block {
  .container;
  color: @white;
  display: flex;
  flex-direction: column;
  background-color: @sapphire-blue;
  padding-top: 28px;
  padding-bottom: 38px;
}

.download-block__button {
  .mixin-set-family-font(18px, 18px, 700);
  color: @white;
  margin-bottom: 32px;
}

.download-block__list {
  .list;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.download-block__description {
  .text_reset;
  .mixin-set-family-font(14px, 24px, 300);
}
