.download-block {
  position: relative;
  z-index: 2;
  width: @mobile-width;
  align-items: right;
}

.download-block__example {
  display: block;
  min-height: 276px;
  width: 100%;
  background-image: url("../img/header/example-small.png");
  background-repeat: no-repeat;
  background-position: center;
}

.download-block__wrapper {
  .mixin-flex-column();
}

.download-block__load {
  .mixin-flex-column();
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 271px;
}

.download-block__link {
  .link;
  .mixin-set-family-font(18px, 48px, 700);
  color: @white;
  border: 3px solid @white;
  border-radius: 29px;
  padding: 0 28px;

  &:hover {
    background-color: @white;
    color: @bright-purple-red;
  }

  &:focus {
    //
  }

  &:active {
    color: fade(@bright-purple-red, 30%);
  }
}

.download-block__list {
  display: flex;
  flex-direction: row;
  .list;
}

.download-block__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  .mixin-reset-margin();
  padding: 16px;
}

.download-block__note {
  .mixin-set-family-font(14px, 24px, 300);
  color: @white;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .download-block {
    width: @tablet-width;
  }

  .download-block__example {
    background-image: url("../img/header/example-medium.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 545px;
    width: 100%;
  }

  .download-block__wrapper {
    align-items: flex-start;
  }
}
