.page-header {
  text-align: center;

  &__index-wrapper {
    background: @sapphire-blue url("../img/header/bg-back-mobile.jpg") no-repeat top / cover;
    height: 396px;
  }

  &__other-wrapper {
    background: @sapphire-blue url("../img/header/bg-back-mobile.jpg") no-repeat top / cover;
    height: 171px;
  }
}
