.page-header {
  text-align: center;

  &__wrapper--index {
    background: @sapphire-blue url("../img/header/bg-back-mobile.jpg") no-repeat top / cover;
    height: 396px;
  }

  &__wrapper--other {
    background: @sapphire-blue url("../img/header/bg-back-mobile.jpg") no-repeat top / cover;
    height: 171px;
  }
}
