.page-header {
  text-align: center;
  background-color: @sapphire-blue;
  background-image: url("../img/header/intro-small.jpg");
  background-repeat: no-repeat;
  background-position: top center;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/header/intro-small@2x.jpg");
  }

  &--no-js {
    background-position: top 260px center;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: url("../img/header/intro-medium.jpg");
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/intro-medium@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../img/header/intro-big.jpg");
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/intro-big@2x.jpg");
    }
  }
}
